<a href="https://colab.research.google.com/github/ncdanh0311/Bouncing-Game/blob/main/ML_predict_Housing's_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [ ]:
housing = pd.read_csv("USA_Housing.csv")
housing.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

**Step 1: Feature Extraction**

In [ ]:
def select_features(df,feature_names):
  return df[feature_names].values
def select_label(df,label_name):
  return df[label_name].values

In [ ]:
features = select_features(housing,["Avg. Area Income","Avg. Area House Age","Avg. Area Number of Rooms","Area Population"])
labels = select_label(housing,"Price")

In [ ]:
features

array([[7.95454586e+04, 5.68286132e+00, 7.00918814e+00, 2.30868005e+04],
       [7.92486425e+04, 6.00289981e+00, 6.73082102e+00, 4.01730722e+04],
       [6.12870672e+04, 5.86588984e+00, 8.51272743e+00, 3.68821594e+04],
       ...,
       [6.33906869e+04, 7.25059061e+00, 4.80508098e+00, 3.32661455e+04],
       [6.80013312e+04, 5.53438842e+00, 7.13014386e+00, 4.26256202e+04],
       [6.55105818e+04, 5.99230531e+00, 6.79233610e+00, 4.65012838e+04]])

In [ ]:
labels

array([1059033.55787012, 1505890.91484695, 1058987.98787608, ...,
       1030729.58315229, 1198656.87240769, 1298950.48026696])

Step 2: split into train, validation and test set

In [ ]:
 from sklearn.model_selection import train_test_split
 feature_train, feature_test, label_train, label_test=train_test_split(features,labels,test_size=0.1)
 feature_train, feature_val, label_train, label_val=train_test_split(features,labels,test_size=0.1)

Step 3: Train Machine Learning models

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(feature_train,label_train)

train_r2_score=model.score(feature_train,label_train)
val_r2_score=model.score(feature_val,label_val)

print(f"Train R2 Score: {train_r2_score}")
print(f"Validation R2 Score: {val_r2_score}")

Train R2 Score: 0.9186318984911216
Validation R2 Score: 0.9122226212091187